.input-email {
  width: 20rem;
  height: 2rem;
  border-radius: 1.7rem;
  outline: none;
  border: none;
  padding: 0.2rem;
}

.input-email:focus {
  outline-style: dashed;
}

.submit-btn {
  width: 5rem;
  height: 2rem;
  border-radius: 2rem;
  border: none;
  background-color: #F36523;
  outline: none;
}

.details {
  margin-top: 5rem;
  width: 60%;
  height: 15rem;
  align-items: center;
}

.questnNo {
  background-color: #D8FFF3;
  border: none;

}

.btns {
  display: flex;
  gap: 1rem;


}

section {
  padding: 1rem;
}

.questnNo {
  width: 5rem;
  height: 3rem;
}

.questnNo:hover {
  background-color: orange;
}

.questnNo:focus {
  background-color:#F36523;
}

.optns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}

.btn-opt {
  width: 50%;
  height: 2.5rem;
  border-radius: 2.5rem;

}

.btn-opt:hover {
  background-color: #F36523;
}

@media screen and (max-width:450px) {
  .btns {
    flex-wrap: wrap;
    justify-content: center;
  }

  .details {
    width: 100%;
    margin-top: 1rem;
  }

  .input-email {
    width: 100%;
  }
}